<div class="box">
<div class="card">
  <!-- C помощью  FormsModule устанавливаем цвет текста синим, если длина title будет больше 5 символов в противном случае красный, также регулируем ширину шрифта-->
  <h2 [ngStyle]="{ 
    color: card.title.length < 5 ? 'blue' : 'red',
    fontWeight: card.title.length < 7 ? 'normal' : 'bold'

  }">{{card.title}}</h2>
  
  <!-- <p class="text" [ngClass]="{
    blue: textColor === 'blue',
    green: textColor === 'green',
    red: textColor ===   'red'
}">{{text}}</p> -->

  <p class="text" [ngClass]="{
    blue: textColor === 'blue',
    green: textColor === 'green',
    red: textColor ===   'red'
}">{{card.text}}</p>

<p class="visa">
  visa
</p>
  <div class="buttons">
    <button (click)="textColor = 'blue'">Set blue</button>
    <button (click)="textColor = 'green'" >Set green</button>
    <button (click)="textColor = 'red'">Set red</button>

  </div>

  
  <div class="buttons">
    <button (click)="changeTitle()">Chancge Title</button>
    <button (click)="card.title = 'Inline title'">Channge title inline </button>
  </div>
  
  <div>
    <strong>{{cardDate | date:'dd.LL.YYY HH:mm:ss'}}</strong>
  </div>
  <!-- <div>
    <input type="text" (input)="inputHandler($event)" [value]="title">
  </div> -->
  <div>
    <input type="text" [(ngModel)]="card.title" (ngModelChange)="changeHandler()" >
  </div>
</div>
</div>