<div class="card">
  <!-- C помощью  FormsModule устанавливаем цвет текста синим, если длина title будет больше 5 символов в противном случае красный, также регулируем ширину шрифта-->
  <h2 [ngStyle]="{ 
    color: title.length < 5 ? 'blue' : 'red',
    fontWeight: title.length < 7 ? 'normal' : 'bold'

  }">{{title}}</h2>
  <p class="text" [ngClass]="{
    blue: textColor === 'blue',
    green: textColor === 'green',
    red: textColor ===   'red'
}">{{text}}</p>

  <div class="buttons">
    <button (click)="textColor = 'blue'">Set blue</button>
    <button (click)="textColor = 'green'" >Set green</button>
    <button (click)="textColor = 'red'">Set red</button>

  </div>

  <div class="buttons">
    <button (click)="changeTitle()">Chancge Title</button>
    <button (click)="title = 'Inline title'">Channge title inline </button>
  </div>

  <!-- <div>
    <input type="text" (input)="inputHandler($event)" [value]="title">
  </div> -->
  <div>
    <input type="text" [(ngModel)]="title" (ngModelChange)="changeHandler()" >
  </div>
</div>