<form [formGroup]="productForm">
  <div class="field">
    <label for="id">ID</label>
    <input id="id" type="text" formControlName="id"/>
    <button type="button" (click)="onGenerateId()">Generate ID</button>
  </div>
  <div class="field">
    <label for="name">Name</label>
    <input id="name" type="text" formControlName="name"/>
  </div>
  <div class="field">
    <label for="price">Price</label>
    <input id="price" type="number" formControlName="price"/>
  </div>
  <div class="field">
    <label for="categories">Categories</label>
    <select formControlName="categories" multiple>
      <option value="shoes">Shoes</option>
      <option value="clothes">Clothes</option>
      <option value="medicines">Medicines</option>
      <option value="food">Food</option>
      <option value="electronics">Electronics</option>
    </select>
  </div>
  <div class="field">
    <button type="button" (click)="onSubmit()">Submit</button>
  </div>
</form>
<br/>
<app-card
  name="John Doe"
  number="1234 5678 9012 3456"
  amount="4989,33₽"
  expirationDate="02/23"
  paymentSystem="visa"
></app-card>
<br/>
<app-card
  name="Jane Doe"
  number="9876 5432 1098 7654"
  amount="5171,44₽"
  expirationDate="10/22"
  paymentSystem="mastercard"
></app-card>
<br/>
<p appAttribute [value]="attribute">this is an attribute directive</p>
<br/>
<button (click)="onClick()">Change Attribute</button>
<br/>
<br/>
<div *ngIf="isInitial; else isFormatted">
  <h4>Without formatting:</h4>
  <br/>
  <p>{{ number }}</p>
  <p>{{ number }}</p>
</div>
<ng-template #isFormatted>
  <div>
    <h4>With formatting:</h4>
    <br/>
    <p>{{ number | numberFormat:'ru-RU' }} - RU</p>
    <p>{{ number | numberFormat:'en-US' }} - US</p>
  </div>
</ng-template>
<br/>
<button (click)="onFormatChange()">Change Number Format</button>
<br/>
<br/>
<h4>Seconds counter:</h4>
<br/>
<output id="timer-output"></output>
