<app-card
  name="John Doe"
  number="1234 5678 9012 3456"
  amount="4989,33₽"
  expirationDate="02/23"
  paymentSystem="visa"
></app-card>
<br/>
<app-card
  name="Jane Doe"
  number="9876 5432 1098 7654"
  amount="5171,44₽"
  expirationDate="10/22"
  paymentSystem="mastercard"
></app-card>
<br/>
<p appAttribute [value]="attribute">this is an attribute directive</p>
<br/>
<button (click)="onClick()">Change Attribute</button>
<br/>
<br/>
<div *ngIf="isInitial; else isFormatted">
  <h4>Without formatting:</h4>
  <br/>
  <p>{{ number }}</p>
  <p>{{ number }}</p>
</div>
<ng-template #isFormatted>
  <div>
    <h4>With formatting:</h4>
    <br/>
    <p>{{ number | numberFormat:'ru-RU' }} - RU</p>
    <p>{{ number | numberFormat:'en-US' }} - US</p>
  </div>
</ng-template>
<br/>
<button (click)="onFormatChange()">Change Number Format</button>
